html,
body { height: 100%; }
 
body {
	display: table;
	width: 100%;
	/*font-family: Arial,Helvetica,Tahoma,Verdana;*/
	margin: 0 auto 0 auto;
}

.line{
	display: inline-block;
}

.red{
	color: red;
}

.jumbotron{
	margin-top: 3%;
	margin-bottom: 5%;
}

footer{
	height: 100px;
	background: #D9EDF7;
   	bottom:0;
	width: 100%;
	display: table-row;
}

/* --------------------------------------FORMULARIO--------------------------------------- */
.marginright{
	margin-right: 16px;
}

.aviso{
	background-color: #d9534f;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 4px;
	font-size: 1.1em;
	padding: 2px 0 2px 0;
}
.avisoOK{
	background-color: #3c763d;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 4px;
	font-size: 1.1em;
	padding: 2px 0 2px 0;
}

#ContenedorFormulario{
	width: 615px;
	height: auto;
	margin: 0 auto 30px auto;
	background-color: #EEEEEE;
	border-radius: 5px;
}

#ContenedorFormularioInterior{
	padding: 0 2% 0 2%;
}

@media all and (max-width: 767px) {
	#ContenedorFormulario{
		height: auto;
		width: 100%;
	}
	#DivEmail{
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media all and (max-width: 992px) {
	#DivEmail{
		margin-left: 16px;
		margin-right: 16px;
	}
}

#nonombreC,#longnombreC,#malnombreC,#noapelC,#longapelC,#malapelC,#noemailC,#longemailC,#malemailC,#nopswC,#longpswC,#malpswC,#minpswC,#nopsw2C,#malpsw2C{
	display: none;
}